<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item active"><a class="nav-link " href="/">Home</a></li>
        {{#if loggedIn}}
        <li class="nav-item active"><a class="nav-link " href="/dashboard">Dashboard</a></li>
        {{/if}}
        {{#if loggedIn}}
        <li class="nav-item active"><a class="nav-link " href="/logout" id="logoutbtn">logout</a></li>
        {{else}}
        <li class="nav-item active"><a class="nav-link " href="/login" id="loginbtn">login</a></li>
        {{/if}}
    </ul>
</nav>


{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav> --}}