<a href="/post/{{id}}" id="post-link">
  <section class="card">
    <div class="card-header">
      <h3 class="post-title">{{title}}</h3>
      <div class="post-date">Posted by {{user.username}}</div>
    </div>
    <p class="post-content">{{content}}</p>
  </section>
</a>