<div class="container mt-5">
    <h1>Welcome, {{ user.username }}!</h1>
    <h2>Your Posts:</h2>
    <ul class="list-group mt-3">
        {{#each user.posts as |post|}}
        <a href="/dashboard/{{this.id}}" id="post-link">
            <li class="list-group-item">
                <div class="d-flex justify-content-between">
                    <h4>{{ this.title }}</h4>
                </div>
                <p>{{ this.content }}</p>
            </li>
        </a>
        {{/each}}
    </ul>
    <div class="mt-5">
        <button id="postbtn" class="btn btn-primary btn-lg">Create Post</button>
    </div>
</div>


<script src="/js/newpost.js"></script>