<form id="post-form">
  <section class="step-container" id="step-1">
    <header class="row">
      <div class="col">
        <h1>Add your text</h1>
        <h2>Add your text</h2>
      </div>
    </header>
      <div class="textarea-group">
        <textarea name="content" id="content" placeholder="Write your blog here..."></textarea>
      </div>
  </section>
    <button type="submit" class="btn hidden" id="submit-btn">Finish</button>  

</form>