<div class="rounded-3 p-4">
    <h2 >Register</h2>
    <form class="signup-form">
        <div class="form-groupt">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username-signup" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email-signup" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Enter password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword-signup" placeholder="Confirm password">
        </div>
        <button type="submit" class="btn btn-primary" id="registerButton">Register</button>
    </form>
</div>

<script src="/js/register.js"></script>
